.search-bar {
  margin: 20px 0;
}

.search-bar .input-group {
  height: 50px;
}

.search-bar .input-group .form-control {
  border-width: 3px;
  font-size: 20px;
  /* border-right: none; */
}

.search-bar .input-group .dropdown-toggle {
  border-width: 3px;
}
